@font-face {
  font-family: Aino;
  src: url(../fonts/Aino-Headline.otf);
  font-weight: 300;
}

@font-face {
  font-family: Aino;
  src: url(../fonts/Aino_31_170411-Regular.otf);
  font-weight: 400;
}

@font-face {
  font-family: Aino;
  src: url(../fonts/Aino_31_170411-Bold.otf);
  font-weight: 700;
}

/*color*/

* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  line-height: 1.2;
  font-family: 'Aino', sans-serif;
}

html body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  font-size: 15px;
  overflow-x: hidden;
  font-family: 'Aino', sans-serif;
  background: #eff0f2;
  color: #181818;
}

html body .container {
  max-width: 100%;
  width: 100%;
  position: relative;
  padding-left: 15px;
  padding-right: 15px;
}

body.open-menu {
  overflow: hidden;
}

body .row:before,
body .row:after {
  display: inline-block !important;
}

body p {
  font-size: 1.125em;
  margin: 0;
  font-weight: 400;
}

img {
  max-width: 100%;
}

body h1 {
  font-size: 1.9em;
}

body h2,
.page__title {
  font-size: 1.75em;
}

body h3 {
  font-size: 1.375em;
}

body h1,
body h2,
body h3 {
  font-weight: 300;
  margin: 0;
  color: #3566d5;
}

body .row {
  margin-left: -10px;
  margin-right: -10px;
}

body .row [class*='col-'] {
  padding-left: 10px;
  padding-right: 10px;
}

body .row__flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}

body a {
  cursor: pointer;
  -webkit-transition: 0.3s ease;
  -o-transition: 0.3s ease;
  transition: 0.3s ease;
  font-size: 1em;
}

body a:hover,
body a:focus {
  text-decoration: none;
}

.link__blue {
  text-decoration: underline;
  color: #3566d5;
}

.link__blue:hover,
.link__blue:focus,
.link__blue:active {
  color: #3566d5;
}

.bg__white {
  background: white;
}

.padding1 {
  padding: 22px 15px;
}

.padding2 {
  padding: 35px 15px;
}

.margin_b_35 {
  margin-bottom: 30px;
}

.btn__blue {
  color: #ffffff;
  text-transform: uppercase;
  display: block;
  padding: 18px 15px;
  border: 0;
  font-weight: bold;
  width: 100%;
  text-align: center;
  font-size: 1em;
  background-color: #3566d5;
  background-image: url(../img/header.png);
  background-repeat: no-repeat;
  background-position: center;
  -webkit-transition: 0.3s all ease;
  -o-transition: 0.3s all ease;
  transition: 0.3s all ease;
  background-size: auto;
}

.btn__blue:hover,
.btn__blue:focus,
.btn__blue:active {
  color: #ffffff;
  -webkit-box-shadow: 2px 2px 8px 2px rgba(204, 204, 204, 0.64);
  box-shadow: 2px 2px 8px 2px rgba(204, 204, 204, 0.64);
  background-size: cover;
}

body input,
body button,
body textarea,
body button:focus {
  -webkit-transition: 0.3s ease;
  -o-transition: 0.3s ease;
  transition: 0.3s ease;
  outline: none;
}

body input[type="submit"] {
  cursor: pointer;
}

body input[type="text"],
body input[type="email"],
body input[type="password"],
body input[type="tel"],
body input[type="phone"],
body textarea {
  display: block;
  width: 100%;
  border: 1px solid #e9e9e9;
  background: #f6f7f9;
  color: #181818;
  font-size: 1em;
  font-weight: 400;
  padding: 16px;
  margin-bottom: 15px;
}

body input[type="text"]::-webkit-input-placeholder,
body input[type="email"]::-webkit-input-placeholder,
body input[type="password"]::-webkit-input-placeholder,
body input[type="tel"]::-webkit-input-placeholder,
body input[type="phone"]::-webkit-input-placeholder,
body textarea::-webkit-input-placeholder {
  color: #181818;
}

body textarea {
  resize: none;
  height: 150px;
  margin-bottom: 23px;
}

/*header*/

body header {
  padding: 0;
  top: 0;
  left: 0;
  width: 100%;
  background: #3566d5;
  z-index: 9999;
  position: relative;
}

body header .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  position: static;
}

body header .header__logo {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  background: #3566d5;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  position: absolute;
  padding: 15px 10px;
  left: 0;
  top: 0;
  height: 140px;
  width: 140px;
  z-index: 999;
}

body header .header__logo img {
  max-width: 170px;
  width: 100%;
  max-height: 100%;
}

body header .wrap__menu {
  -webkit-transition: 0.3s ease;
  -o-transition: 0.3s ease;
  transition: 0.3s ease;
  min-height: 140px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  width: 100%;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

body header .wrap__menu__wrap {
  background: url(../img/header.png) no-repeat center/cover;
}

body header .wrap__menu.active .menu {
  left: 0;
  right: auto;
}

body header .wrap__menu .menu {
  -webkit-transition: 0.3s ease;
  -o-transition: 0.3s ease;
  transition: 0.3s ease;
}

body header .wrap__menu .menu .nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

body header .wrap__menu .menu__item {
  width: 100%;
  text-align: center;
}

body header .wrap__menu .menu__item:last-child a {
  margin-right: 0;
}

body header .wrap__menu .menu__item:last-child a:after {
  display: none;
}

body header .wrap__menu .menu__item__current .menu__link:before {
  width: 100%;
}

body header .wrap__menu .menu__link {
  padding: 15px 0;
  position: relative;
  font-size: 1.125em;
  font-weight: bold;
  -webkit-transition: 0.3s ease;
  -o-transition: 0.3s ease;
  transition: 0.3s ease;
  color: #ffffff;
  background: transparent;
  text-transform: uppercase;
}

body header .wrap__menu .menu__link:hover,
body header .wrap__menu .menu__link:focus {
  background: transparent;
  color: #ffffff;
}

body header .wrap__menu .menu__link:hover:before,
body header .wrap__menu .menu__link:focus:before {
  width: 100%;
}

body header .wrap__menu .menu__link:before {
  display: block;
  position: absolute;
  content: "";
  width: 0;
  height: 4px;
  left: 0;
  z-index: 99;
  bottom: 0;
  background: #ffdb35;
  -webkit-transition: 0.3s ease;
  -o-transition: 0.3s ease;
  transition: 0.3s ease;
}

body header .wrap__menu .menu__link:after {
  display: none;
  position: absolute;
  content: "";
  width: 3px;
  height: 3px;
  border-radius: 50%;
  z-index: 99;
  top: 50%;
  background: #ffffff;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}

body header .language {
  position: relative;
  z-index: 999;
}

body header .language .nice-select {
  background: transparent;
  border-radius: 0;
  color: white;
  border: 0;
  text-transform: uppercase;
  width: 85px;
  padding: 10px 35px 10px 10px;
  font-size: 1.125em;
  float: none;
  height: 100%;
}

body header .language .nice-select .current {
  font-size: inherit;
  font-weight: bold;
}

body header .language .nice-select .list {
  width: 100%;
}

body header .language .nice-select .list li {
  color: #3566d5;
}

body header .language .nice-select:after {
  background: url(../img/icons/iconfinder_arrow-down-01_186411.svg) no-repeat center;
  background-size: 13px;
  margin: 0;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  width: 13px;
  height: 13px;
  right: 15px;
  border: 0;
}

body header .language .nice-select.open:after {
  top: 44%;
  -webkit-transform: translateY(-50%) rotate(-180deg);
  -ms-transform: translateY(-50%) rotate(-180deg);
  transform: translateY(-50%) rotate(-180deg);
}

body header .wrap__burger {
  display: inline-block;
  margin-left: 20px;
}

body header .burger {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  width: 40px;
  padding: 5px;
  position: relative;
  z-index: 9999;
  cursor: pointer;
}

body header .burger span {
  display: block;
  width: 100%;
  height: 2px;
  background: #ffffff;
  margin: 3px auto 3px 0;
  -webkit-transition: 0.3s ease;
  -o-transition: 0.3s ease;
  transition: 0.3s ease;
  width: 100%;
}

body header.active .burger {
  padding-top: 10px;
}

body header.active .burger span:first-child {
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}

body header.active .burger span:nth-child(2) {
  -webkit-transform: scale(0);
  -ms-transform: scale(0);
  transform: scale(0);
}

body header.active .burger span:last-child {
  -webkit-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  transform: rotate(-45deg);
  margin-top: -20px;
}

body header .header__inner.header__inner__page .header__inner__page__title {
  color: #ffffff;
  text-transform: uppercase;
  font-size: 1.125em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: nowrap;
  flex-wrap: nowrap;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

body header .header__inner.header__inner__page .header__inner__page__title .page__title__link {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

body header .header__inner.header__inner__page .header__inner__page__title .page__title__link svg {
  width: 25px;
  margin-right: 15px;
  -webkit-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  transform: rotate(180deg);
}

body header .header__inner .row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  width: 100%;
}

body header .header__inner.header__inner__page .container,
body header .header__inner .row {
  padding-top: 20px;
  padding-bottom: 20px;
}

body header .header__inner__title {
  color: white;
  font-size: 2.25em;
  position: relative;
  padding: 0 0 0 15px;
}

body header .header__inner__title:before {
  display: none;
  position: absolute;
  left: 22px;
  content: "";
  width: 0;
  height: 0;
  border-left: 7px solid transparent;
  border-right: 7px solid transparent;
  border-bottom: 7px solid #ffffff;
}

/*main*/

main {
  padding-bottom: 60px;
}

/*list-do*/

.list-do {
  margin: 0 0 22px;
}

.list-do__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  margin: 0 0 22px;
  padding: 18px 20px;
  background: #f6f7f9;
  -webkit-box-shadow: inset 4px 0px 0px 0px rgba(216, 220, 229, 0.4);
  box-shadow: inset 4px 0px 0px 0px rgba(216, 220, 229, 0.4);
}

.list-do__item:last-child {
  margin-bottom: 0;
}

.list-do__item__title {
  margin: 0 0 10px;
}

.list-do__item__info {
  color: #181818;
}

.list-do__item__inner {
  max-width: 80%;
}

.list-do__item img {
  width: 24px;
}

/*staff*/

.staff__page .staff__item:last-child {
  margin-bottom: 0;
}

.staff__home {
  margin-top: 22px;
}

.staff__home__title {
  display: block;
  margin: 0  0 22px;
}

.staff__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  margin-bottom: 22px;
  background: #f6f7f9;
}

.staff__item__inner {
  padding: 16px 20px;
  max-width: 330px;
}

.staff__item__title {
  white-space: nowrap;
  margin-bottom: 6px;
}

.staff__item p {
  margin-bottom: 7px;
}

.staff__item a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  color: #181818;
}

.staff__item a:hover,
.staff__item a:focus {
  color: #3566d5;
}

.staff__item a svg {
  fill: #3566d5;
  width: 20px;
  margin-right: 8px;
}

.staff__image {
  width: 135px;
  height: 150px;
}

/*contact*/

.contact__title__wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  margin: 0 0 40px;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}

.contact__title__info {
  margin-top: 10px;
  width: 100%;
  max-width: 100%;
}

.contact__title__info p {
  line-height: 1.8;
}

.contact__title__info p a {
  color: #3566d5;
  text-decoration: underline;
  display: inline-block;
}

.contact__title__info p a.contact__phone {
  text-decoration: none;
  font-size: 1.05em;
}

.contact__form__inner {
  margin-bottom: 10px;
  padding-bottom: 1px;
}

.contact__label {
  display: block;
  margin: 0 0 30px;
}

.contact__label input {
  display: none;
}

.contact__label input[type="checkbox"]:checked + .contact__checkbox:after {
  left: 28px;
  background: #2d8fff;
}

.contact__checkbox {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  position: relative;
  padding: 0 0 0 72px;
  cursor: pointer;
  font-size: 1em;
  min-height: 30px;
}

.contact__checkbox a {
  display: inline-block;
  margin-left: 3px;
  color: #3566d5;
  text-decoration: underline;
}

.contact__checkbox:before {
  display: block;
  position: absolute;
  content: "";
  border: 1px solid #e9e9e9;
  background: #f6f7f9;
  border-radius: 40px;
  height: 30px;
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  left: 0;
  width: 56px;
}

.contact__checkbox:after {
  display: block;
  position: absolute;
  content: "";
  background: #bac0cc;
  border-radius: 50%;
  height: 24px;
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  left: 3px;
  width: 24px;
  -webkit-transition: 0.3s ease;
  -o-transition: 0.3s ease;
  transition: 0.3s ease;
}

.contact .services__list li {
  font-size: 1em;
  margin-bottom: 14px;
}

.contact .services__list a {
  color: inherit;
  padding-left: 3px;
  display: contents;
}

.contact .services__list a:hover,
.contact .services__list a:focus {
  text-decoration: underline;
  color: #3566d5;
}

.contact .services__list a.contact__link {
  text-decoration: underline;
  color: #3566d5;
}

.contact .services__list .contact__wrap__icon {
  width: 24px;
  display: inline-block;
  margin-right: 15px;
  text-align: center;
}

.contact .services__list .contact__wrap__icon svg {
  fill: #2d8fff;
  max-width: 26px;
  max-height: 22px;
  width: 26px;
}

.contact .services__list .contact__wrap__icon svg path {
  fill: #2d8fff;
}

.contact .services__list .contact__wrap__icon svg#Email {
  max-height: 18px;
}

.contact.contact-page .col-xs-12:last-child .services__list li:last-child {
  margin-bottom: 0;
}

/*footer*/

footer {
  background: white;
}

footer .container {
  padding-bottom: 110px;
}

.footer__logo {
  width: 100px;
  display: inline-block;
}

.footer__copy__inner {
  margin: 10px 0 0;
  display: block;
  color: #3566d5;
}

.footer__copy__inner a {
  color: #3566d5;
  padding: 0 2px;
  text-decoration: underline;
}

.footer__inner {
  padding: 25px 20px;
  text-align: center;
}

.footer__contact {
  background-color: #3566d5;
  background-image: url(../img/footer.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: auto 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  width: calc(100% + 30px);
  margin-left: -15px;
  padding: 25px 20px;
}

.footer__contact__list {
  padding: 0;
  margin: 0;
  list-style-type: none;
}

.footer__contact__list li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  margin: 12px 0;
  color: #ffffff;
}

.footer__contact__list li a {
  color: inherit;
  display: inline-block;
  padding-left: 5px;
}

.footer__contact__list li:last-child svg {
  max-width: 18px;
}

.footer__contact__wrap__icon {
  width: 22px;
  margin-right: 15px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.footer__contact__wrap__icon svg {
  fill: #ffffff;
  max-width: 27px;
  max-height: 22px;
  width: 27px;
}

.footer__contact__wrap__icon svg path {
  fill: #ffffff;
}

/*services*/

body .page__title,
body .page__subtitle {
  margin: 0 0 30px;
}

body .page__inner__in {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}

body .page__inner__subinfo {
  width: 100%;
  max-width: 295px;
  margin: 25px auto 0;
}

body .page__info {
  margin-bottom: 30px;
}

body .page__info p {
  margin: 0 0 15px;
}

body .page__info p a {
  color: #3566d5;
  font-weight: bold;
  text-decoration: underline;
}

.services__menu {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}

.services__menu__item {
  margin-right: 26px;
  position: relative;
}

.services__menu__item:last-child {
  margin: 0;
}

.services__menu__item:last-child:after {
  display: none;
}

.services__menu__item__current .services__menu__link {
  opacity: 1;
}

.services__menu__item__current .services__menu__link:before {
  width: 45px;
}

.services__menu__item:after {
  display: block;
  position: absolute;
  content: "";
  width: 3px;
  height: 3px;
  border-radius: 50%;
  z-index: 99;
  top: 50%;
  right: -16px;
  background: #ffffff;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}

.services__menu__link {
  font-size: 1.125em;
  color: #ffffff;
  display: inline-block;
  position: relative;
  padding: 10px 0;
  opacity: 0.7;
}

.services__menu__link:before {
  display: block;
  position: absolute;
  content: "";
  width: 0;
  height: 3px;
  left: 0;
  z-index: 99;
  bottom: 0;
  background: #ffffff;
  -webkit-transition: 0.3s ease;
  -o-transition: 0.3s ease;
  transition: 0.3s ease;
}

.services__menu__link:hover,
.services__menu__link:focus {
  opacity: 1;
  color: #ffffff;
}

.services__menu__link:hover:before,
.services__menu__link:focus:before {
  width: 45px;
}

.services__list {
  padding: 0;
  list-style-type: none;
  margin: 0 0 30px;
}

.services__list:last-child {
  margin: 0;
}

.services__list li {
  margin-bottom: 8px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  background: #f6f7f9;
  font-size: 1.125em;
  position: relative;
  padding: 16px 20px 16px 25px;
  min-height: 65px;
}

.services__list li:before {
  display: block;
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  width: 4px;
  background: #d8dce5;
}

.services__list li:after {
  display: block;
  content: "";
  position: absolute;
  left: 4px;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  width: 0;
  height: 0;
  border-top: 7px solid transparent;
  border-bottom: 7px solid transparent;
  border-left: 7px solid #d8dce5;
}

/*carousel*/

.owl-item {
  display: inline-block !important;
}

.owl-loaded.owl-drag {
  overflow: hidden;
}

.owl-prev,
.owl-next {
  font-size: 0;
  width: 50px;
  height: 60px;
  cursor: pointer;
  position: absolute;
  background-color: white;
  -webkit-transition: 0.3s ease;
  -o-transition: 0.3s ease;
  transition: 0.3s ease;
  bottom: 0;
  background-image: url(../img/icons/iconfinder_arrow-left-01_186410.svg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: 9px;
  border: 2px solid transparent;
}

.owl-prev:hover,
.owl-next:hover {
  border: 2px solid #eff0f2;
}

.owl-prev {
  right: 50px;
}

.owl-next {
  right: 0;
  -webkit-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  transform: rotate(180deg);
}

.carousel {
  margin-bottom: 7px;
}

.carousel .owl-stage {
  height: 460px;
}

.carousel__item {
  height: 460px;
  width: 100%;
}

/*price*/

.price {
  background: url(../img/price.png) no-repeat center/cover;
  padding: 14px;
}

.price__inner {
  background: #ffffff;
  padding: 33px 20px;
}

.price__inner__title {
  margin: 0 0 5px;
}

.price__inner__info {
  font-size: 0.875em;
  display: inline-block;
  vertical-align: bottom;
  margin-bottom: 9px;
}

.price__num {
  color: #3566d5;
  display: inline-block;
  font-size: 2.25em;
  font-weight: bold;
}

/*map*/

#map {
  height: 335px;
  margin-bottom: 30px;
}

/*news*/

body .news {
  margin: 40px 0 20px;
}

body .news .row {
  margin-left: -15px;
  margin-right: -15px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}

body .news .row .col-xs-12 {
  padding-left: 15px;
  padding-right: 15px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}

body .news__item {
  margin: 0 0 20px;
  padding: 25px 15px 30px;
}

body .news__item:hover,
body .news__item:focus {
  -webkit-box-shadow: 2px 2px 8px 2px rgba(204, 204, 204, 0.64);
  box-shadow: 2px 2px 8px 2px rgba(204, 204, 204, 0.64);
}

body .news__item__image {
  position: relative;
  height: 225px;
  margin-bottom: 24px;
}

body .news__item__title {
  font-size: 1.5em;
  margin: 0 0 15px;
}

body .news__item__content {
  font-size: 0.9375em;
  line-height: 1.8;
  -o-text-overflow: ellipsis;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 4;
  color: #181818;
  overflow: hidden;
}

body .news__item__date {
  background: #ffffff;
  position: absolute;
  left: 0;
  bottom: 0;
  min-width: 125px;
  padding: 18px 10px 0 0;
  text-transform: uppercase;
  color: #181818;
  font-size: 0.875em;
}

body .news__wrap {
  text-align: center;
  margin: 0 0 45px;
}

body .news__wrap .btn__more {
  color: #7e8697;
  text-transform: uppercase;
  display: inline-block;
  padding: 18px 20px;
  border: 0;
  font-weight: bold;
  text-align: center;
  font-size: 1em;
  background: #ffffff;
  -webkit-transition: 0.3s all ease;
  -o-transition: 0.3s all ease;
  transition: 0.3s all ease;
}

body .news__wrap .btn__more:hover,
body .news__wrap .btn__more:focus,
body .news__wrap .btn__more:active {
  color: #ffffff;
  background: #3566d5;
}

/*news__inner__page*/

.news__inner__page {
  padding: 35px 20px 30px;
  margin-bottom: 40px;
}

.news__inner__page .news__item__image {
  height: 280px;
  margin-bottom: 35px;
}

.news__inner__page__title {
  font-size: 1.75em;
  margin-bottom: 25px;
}

.news__inner__page__in {
  margin-bottom: 25px;
}

.news__inner__page__in:last-child,
.news__inner__page__in p:last-child {
  margin-bottom: 0;
}

.news__inner__page__in p {
  font-size: 1em;
  margin: 0 0 18px;
  line-height: 1.8;
  text-align: justify;
}

@media only screen and (min-width: 480px) {
  body h2,
  .page__title {
    font-size: 1.875em;
  }

  body header .wrap__burger {
    margin-left: 30px;
  }

  .staff__item__inner {
    padding: 12px 20px 12px 27px;
    max-width: 255px;
    max-height: 150px;
  }
}

@media only screen and (min-width: 768px) {
  html body .container {
    width: 748px;
    padding-left: 20px;
    padding-right: 20px;
  }

  .padding2 {
    padding: 40px 20px;
  }

  .btn__blue {
    padding: 22px 15px;
  }

  body input[type="text"],
  body input[type="email"],
  body input[type="password"],
  body input[type="tel"],
  body input[type="phone"],
  body textarea {
    padding: 20px;
    font-size: 1.125em;
  }

  .list-do__item {
    padding: 18px 26px;
  }

  .contact__title__info {
    text-align: right;
    margin: 0;
    max-width: 65%;
  }

  footer .container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    padding-bottom: 0;
  }

  .footer__logo {
    margin-bottom: 35px;
  }

  .footer__inner {
    padding: 25px 20px 25px 0;
    text-align: left;
  }

  .footer__contact {
    width: 55%;
    margin-left: 0;
  }

  .footer__contact__list {
    min-width: 300px;
  }

  body .news__wrap .btn__more {
    padding: 18px 26px;
  }

  .news__inner__page .news__item__image {
    height: 320px;
  }
}

@media only screen and (min-width: 992px) {
  html body .container {
    width: 940px;
  }

  .padding1 {
    padding: 22px;
  }

  .padding2 {
    padding: 40px 30px;
  }

  body header .header__logo {
    width: calc((100% - 760px) / 2);
    padding: 20px 15px;
    height: 160px;
  }

  body header .wrap__menu {
    min-height: 160px;
  }

  body header .wrap__menu .menu {
    padding-left: 100px;
  }

  body header .wrap__menu .menu__item {
    margin: 0 35px 0 0;
    width: auto;
    text-align: left;
  }

  body header .wrap__menu .menu__link:before {
    bottom: -55px;
  }

  body header .wrap__menu .menu__link:after {
    right: -20px;
    display: block;
  }

  body header .language .nice-select {
    width: 100px;
    padding: 10px 50px 10px 10px;
  }

  body header .wrap__burger {
    display: none;
  }

  .staff__page {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
  }

  .staff__page .staff__item {
    width: 49%;
  }

  .staff__page .staff__item:nth-last-child(2) {
    margin-bottom: 0;
  }

  .contact .services__list li:last-child {
    margin: 0;
  }

  .footer__copy__inner {
    display: inline-block;
    margin: 0 0 0 10px;
  }

  .footer__contact {
    width: calc(41.667% - 15px);
  }

  body .page__title {
    max-width: 70%;
  }

  body .page__inner__in {
    -ms-flex-wrap: nowrap;
    flex-wrap: nowrap;
  }

  body .page__inner__info {
    width: calc(100% - 315px);
  }

  body .page__inner__subinfo {
    width: 280px;
    margin: 0;
  }

  body .page__info {
    margin-bottom: 45px;
  }

  .services__list li {
    padding: 16px 30px;
  }

  body .news__item {
    padding: 30px 25px;
    margin: 0 0 25px;
  }

  .news__inner__page {
    padding: 40px 35px 35px;
    margin-bottom: 50px;
  }

  .news__inner__page .news__item__image {
    height: 370px;
  }
}

@media only screen and (min-width: 1200px) {
  body header .header__logo {
    width: calc((100% - 900px) / 2);
    padding: 25px;
    height: 100%;
  }

  body header .wrap__menu {
    min-height: 100px;
  }

  body header .wrap__menu .menu {
    padding-left: 35px;
  }

  body header .wrap__menu .menu__link:before {
    bottom: -25px;
  }

  body header .header__inner.header__inner__page .container,
  body header .header__inner .row {
    min-height: 100px;
    padding-top: 0;
    padding-bottom: 0;
  }

  body header .header__inner__title:before {
    display: inline-block;
    bottom: -30px;
  }

  body .page__title,
  body .page__subtitle {
    margin: 0 0 35px;
  }

  .services__menu__link {
    padding: 13px 0;
  }

  .services__list {
    margin: 0 0 35px;
  }
}

@media only screen and (min-width: 1440px) {
  html body .container {
    width: 1080px;
  }

  body h1 {
    font-size: 2.1em;
  }

  .padding2 {
    padding: 40px;
  }

  .margin_b_35 {
    margin-bottom: 35px;
  }

  .btn__blue {
    padding: 24px 15px;
  }

  body input[type="text"],
  body input[type="email"],
  body input[type="password"],
  body input[type="tel"],
  body input[type="phone"],
  body textarea {
    padding: 26px 20px;
  }

  body header .header__logo {
    width: calc((100% - 1040px) / 2);
    padding: 35px;
  }

  body header .wrap__menu {
    min-height: 110px;
  }

  body header .wrap__menu .menu {
    padding-left: 60px;
  }

  body header .wrap__menu .menu__item {
    margin: 0 40px 0 0;
  }

  body header .wrap__menu .menu__link:before {
    bottom: -29px;
  }

  body header .wrap__menu .menu__link:after {
    right: -24px;
  }

  body header .header__inner.header__inner__page .container,
  body header .header__inner .row {
    min-height: 110px;
  }

  body header .header__inner__title {
    padding: 0;
  }

  body header .header__inner__title:before {
    bottom: -35px;
  }

  main {
    padding-bottom: 75px;
  }

  .list-do__item {
    min-height: 150px;
  }

  .staff__home {
    margin-top: 0;
  }

  .staff__home__title {
    display: none;
  }

  .staff__image {
    height: 152px;
  }

  .contact__form__inner {
    margin-bottom: 19px;
    padding-bottom: 1px;
  }

  .contact__label {
    margin: 0 0 35px;
  }

  footer .container {
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
  }

  .footer__contact {
    height: 230px;
  }

  .services__menu__item {
    margin-right: 22px;
  }

  .services__menu__item:after {
    right: -14px;
  }

  #map {
    margin-bottom: 35px;
  }

  body .news {
    margin: 60px 0 30px;
  }

  body .news__item {
    padding: 35px 28px;
  }

  body .news__wrap {
    margin: 0 0 55px;
  }

  body .news__wrap .btn__more {
    padding: 20px 34px;
  }

  .news__inner__page {
    padding: 60px 75px 55px;
    margin-bottom: 50px;
  }

  .news__inner__page .news__item__image {
    height: 420px;
    margin-bottom: 45px;
  }

  .news__inner__page__title {
    margin-bottom: 35px;
    font-size: 2.1em;
  }

  .news__inner__page__in {
    margin-bottom: 35px;
  }

  .news__inner__page__in p {
    margin: 0 0 22px;
  }
}

@media only screen and (min-width: 1680px) {
  html body {
    font-size: 16px;
  }

  html body .container {
    width: 1200px;
  }

  body h1 {
    font-size: 2.25em;
  }

  .padding2 {
    padding: 50px;
  }

  .btn__blue {
    padding: 28px 15px;
  }

  body input[type="text"],
  body input[type="email"],
  body input[type="password"],
  body input[type="tel"],
  body input[type="phone"],
  body textarea {
    padding: 28px 22px;
  }

  body header .header__logo {
    width: calc((100% - 1160px) / 2);
  }

  body header .wrap__menu {
    min-height: 130px;
  }

  body header .wrap__menu .menu {
    padding-left: 60px;
  }

  body header .wrap__menu .menu__item {
    margin: 0 50px 0 0;
  }

  body header .wrap__menu .menu__link:before {
    bottom: -39px;
  }

  body header .wrap__menu .menu__link:after {
    right: -29px;
  }

  body header .header__inner.header__inner__page .container,
  body header .header__inner .row {
    min-height: 130px;
  }

  body header .header__inner__title:before {
    bottom: -43px;
  }

  main {
    padding-bottom: 95px;
  }

  .list-do__item {
    padding: 15px 35px;
  }

  .staff__image {
    height: 149px;
  }

  .footer__contact {
    height: 270px;
  }

  body .page__inner__info {
    width: calc(100% - 340px);
  }

  body .page__inner__subinfo {
    width: 295px;
  }

  .services__menu__item {
    margin-right: 34px;
  }

  .services__menu__item:after {
    right: -21px;
  }

  .services__list li {
    padding: 16px 35px;
    min-height: 75px;
  }

  .carousel .owl-stage {
    height: 490px;
  }

  .carousel__item {
    height: 490px;
  }

  #map {
    margin-bottom: 40px;
  }

  body .news {
    margin: 80px 0 40px;
  }

  body .news__item {
    margin: 0 0 30px;
    padding: 43px 38px;
  }

  body .news__item__title {
    font-size: 1.6875em;
  }

  body .news__wrap {
    margin: 0 0 75px;
  }

  body .news__wrap .btn__more {
    padding: 22px 40px;
  }

  .news__inner__page {
    padding: 82px 100px 75px;
    margin-bottom: 65px;
  }

  .news__inner__page .news__item__image {
    height: 450px;
    margin-bottom: 55px;
  }

  .news__inner__page__title {
    margin-bottom: 45px;
    font-size: 2.25em;
  }

  .news__inner__page__in {
    margin-bottom: 45px;
  }

  .news__inner__page__in p {
    margin: 0 0 25px;
  }
}

@media only screen and (min-width: 1681px) {
  html body .container {
    width: 1290px;
  }

  body header .header__logo {
    width: calc((100% - 1250px) / 2);
  }

  body header .wrap__menu {
    min-height: 150px;
  }

  body header .wrap__menu .menu {
    padding-left: 75px;
  }

  body header .wrap__menu .menu__item {
    margin: 0 60px 0 0;
  }

  body header .wrap__menu .menu__link:before {
    bottom: -49px;
  }

  body header .wrap__menu .menu__link:after {
    right: -32px;
  }

  body header .header__inner.header__inner__page .container,
  body header .header__inner .row {
    min-height: 150px;
  }

  body header .header__inner__title:before {
    bottom: -53px;
  }

  .list-do__item {
    padding: 15px 45px;
  }

  .services__menu__item {
    margin-right: 44px;
  }

  .services__menu__item:after {
    right: -25px;
  }
}

@media only screen and (max-width: 1439px) {
  body .col-xl-7,
  body .col-xl-5 {
    width: 100%;
    max-width: 100%;
    -webkit-box-flex: 0;
    -ms-flex: 0 0 100%;
    flex: 0 0 100%;
  }

  body header .header__inner .col-lg-5 {
    display: none;
  }
}

@media only screen and (max-width: 992px) {
  body header .wrap__menu {
    -webkit-box-pack: end;
    -ms-flex-pack: end;
    justify-content: flex-end;
  }
}

@media only screen and (max-width: 991px) {
  body header .wrap__menu .menu {
    padding: 47px 20px 30px 20px;
    border-bottom: 1px solid rgba(255, 255, 255, 0.3);
    width: 100%;
  }

  body header .wrap__menu .menu {
    position: fixed;
    background: #3566d5;
    top: 0;
    left: 100%;
    right: auto;
    width: 100%;
    height: 100vh;
    z-index: 998;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    padding: 150px 0 20px;
  }

  body header .wrap__menu .menu .nav {
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    width: 100%;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    overflow-y: auto;
    height: calc(100% - 10px);
    border-top: 1px solid #ffffff;
    padding: 15px 15px 0 15px;
    max-height: 450px;
  }

  body header .wrap__menu .menu__link {
    padding: 15px 20px;
    display: inline-block;
  }

  .carousel {
    max-width: 295px;
    margin: 0 auto 7px;
  }

  .price__inner {
    text-align: center;
    padding: 33px;
  }
}

@media only screen and (max-width: 767px) {
  .footer__copy {
    position: absolute;
    bottom: 30px;
    width: calc(100% - 30px);
    left: 15px;
  }

  .services__menu__item {
    padding-left: 10px;
  }
}

@media only screen and (max-width: 480px) {
  .services__menu__item {
    margin: 0;
    width: 100%;
  }

  .services__menu__item:after {
    display: none;
  }
}

@media only screen and (max-width: 479px) {
  .staff__item {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    text-align: center;
    padding: 15px 0 0 0;
  }

  .staff__item a {
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
  }
}