@font-face {
	font-family: Aino;
	src: url(../fonts/Aino-Headline.otf);
	font-weight: 300;
}
@font-face {
	font-family: Aino;
	src: url(../fonts/Aino_31_170411-Regular.otf);
	font-weight: 400;
}
@font-face {
	font-family: Aino;
	src: url(../fonts/Aino_31_170411-Bold.otf);
	font-weight: 700;
}
/*color*/
$white-color: #ffffff;
$dark-color: rgb(24, 24, 24);
$blue-color: #3566d5;
$gray-color: #eff0f2;
$gray-dark-color: rgb(233, 233, 233);
$gray-light-color: rgb(246, 247, 249);
$yellow-color: rgb(255, 219, 53);

* {
	box-sizing: border-box;
	line-height: 1.2;
	font-family: 'Aino', sans-serif;
}
html { 
	body { 
		margin: 0; 
		padding: 0;
		width: 100%;  
		height: 100%;
		font-size: 15px;
		overflow-x: hidden; 
		font-family: 'Aino', sans-serif;
		background: $gray-color;
		color: $dark-color;
		@media only screen and(min-width: 1680px) {
			font-size: 16px;
		}
		.container { 
			max-width: 100%; 
			width: 100%;
			position: relative;
			padding-left: 15px;
			padding-right: 15px;	
			@media only screen and(min-width: 768px) {
				width: 748px;
				padding-left: 20px;
				padding-right: 20px;
			}
			@media only screen and(min-width: 992px) {
				width: 940px;
			}
		
			@media only screen and(min-width: 1440px) {
				width: 1080px;
			}
			@media only screen and(min-width: 1680px) {
				width: 1200px;
			}	
			@media only screen and(min-width: 1681px) {
				width: 1290px;
			}	
		}
	}
}
body.open-menu {
	overflow: hidden;
}
body .row:before,
body .row:after {
	display: inline-block!important;
}

body p{
	font-size: 1.125em;
	margin: 0;
	font-weight: 400;
}
img {max-width: 100%}

body h1 {
	font-size: 1.9em;
	@media only screen and(min-width: 1440px) {
		font-size: 2.1em;
	}
	@media only screen and(min-width: 1680px) {
		font-size: 2.25em;
	}	
}
body h2,
.page__title {
	font-size: 1.75em;
	@media only screen and(min-width: 480px) {
		font-size: 1.875em;
	}
}
body h3 {
	font-size: 1.375em;
}

body h1,
body h2,
body h3 {
	font-weight: 300;
	margin: 0;
	color: $blue-color;
}

body .row {
	margin-left: -10px;
	margin-right: -10px;
	[class*='col-'] {
		padding-left: 10px;
		padding-right: 10px;
	}
	&__flex {
		display: flex;
		flex-wrap: wrap;
		justify-content: center;
	}
}
body a{
	cursor: pointer;
	transition: 0.3s ease;
	font-size: 1em;
	&:hover,
	&:focus {
		text-decoration: none;
	}
}
.link__blue {
	text-decoration: underline;
	color: $blue-color;
	&:hover,
	&:focus,
	&:active {
		color: $blue-color;
	}
}
.bg__white {
	background: white;
}
.padding1 {
	padding: 22px 15px;
	@media only screen and(min-width: 992px) {
		padding: 22px;
	}
}
.padding2 {
	padding: 35px 15px;
	@media only screen and(min-width: 768px) {
		padding: 40px 20px;
	}
	@media only screen and(min-width: 992px) {
		padding: 40px 30px;
	}
	@media only screen and(min-width: 1440px) {
		padding: 40px;
	}
	@media only screen and(min-width: 1680px) {
		padding: 50px;
	}
}
.margin_b_35 {
	margin-bottom: 30px;
	@media only screen and(min-width: 1440px) {
		margin-bottom: 35px;
	}
}

.btn__blue {
	color: $white-color;
	text-transform: uppercase;
	display: block;
	padding: 18px 15px;
	border: 0;
	font-weight: bold;
	width: 100%;
	text-align: center;
	font-size: 1em;
	background-color: $blue-color;
	background-image: url(../img/header.png);
	background-repeat: no-repeat;
	background-position: center;
	transition: 0.3s all ease;
	background-size: auto;
	@media only screen and(min-width: 768px) {
		padding: 22px 15px;
	}
	@media only screen and(min-width: 1440px) {
		padding: 24px 15px;
	}
	@media only screen and(min-width: 1680px) {
		padding: 28px 15px;
	}	
	&:hover,
	&:focus,
	&:active {
		color: $white-color;
		box-shadow: 2px 2px 8px 2px rgba(204,204,204,0.64);
		background-size: cover;
	}
}


body {
	.col-xl-7,
	.col-xl-5 {
		@media only screen and(max-width: 1439px) {
			width: 100%;
			max-width: 100%;
			flex: 0 0 100%;
		}
	}
	input,
	button,
	textarea,
	button:focus {
		transition: 0.3s ease;
		outline: none;
	}
	input[type="submit"] {
		cursor: pointer;
	}
	input[type="text"],
	input[type="email"],
	input[type="password"],
	input[type="tel"],
	input[type="phone"],
	textarea {
		display: block;
		width: 100%;
		border: 1px solid $gray-dark-color;
		background: $gray-light-color;
		color: $dark-color;
		font-size: 1em;
		font-weight: 400;
		padding: 16px;
		margin-bottom: 15px;
		@media only screen and(min-width: 768px) {
			padding: 20px;
			font-size: 1.125em;
		}
		@media only screen and(min-width: 1440px) {
			padding: 26px 20px;
		}
		@media only screen and(min-width: 1680px) {
			padding: 28px 22px;
		}	
		&::-webkit-input-placeholder {
			color: $dark-color;
		}
	}
	textarea {
		resize: none;
		height: 150px;
		margin-bottom: 23px;
	}
}
/*header*/
body header {
	padding:0;
	top: 0;
	left: 0;
	width: 100%;
	background: $blue-color;
	z-index: 9999;
	position: relative;
	.container {
		display: flex;
		align-items: center;
		justify-content: space-between;
		position: static;
	}

	.header__logo {
		display: inline-flex;
		background: $blue-color;
		align-items: center;
		justify-content: center;
		position: absolute;
		padding: 15px 10px;
		left: 0;
		top: 0;
		height: 140px;
		width: 140px;
		z-index: 999;
		@media only screen and(min-width: 992px) {
			width: calc((100% - 760px) / 2);
			padding: 20px 15px;
			height: 160px;
		}
		@media only screen and(min-width: 1200px) {
			width: calc((100% - 900px) / 2);
			padding: 25px;
			height: 100%;
		}
		@media only screen and(min-width: 1440px) {
			width: calc((100% - 1040px) / 2);
			padding: 35px;
		}
		@media only screen and(min-width: 1680px) {
			width: calc((100% - 1160px) / 2);
		}	
		@media only screen and(min-width: 1681px) {
			width: calc((100% - 1250px) / 2);
		}	
		img {
			max-width: 170px;
			width: 100%;
			max-height: 100%;
		}
	}
	.wrap__menu {
		transition: 0.3s ease;
		min-height: 140px;
		display: flex;
		align-items: center;
		width: 100%;
		justify-content: space-between;
			@media only screen and(min-width: 992px) {
				min-height: 160px;
			}
			@media only screen and(min-width: 1200px) {
				min-height: 100px;
			}
			@media only screen and(min-width: 1440px) {
				min-height: 110px;
			}
			@media only screen and(min-width: 1680px) {
				min-height: 130px;
			}	
			@media only screen and(min-width: 1681px) {
				min-height: 150px;
			}	
			@media only screen and(max-width: 992px) {
				justify-content: flex-end;
			}
		&__wrap {
			background: url(../img/header.png) no-repeat center/cover;
		}
		&.active {
			.menu {
				left: 0;
				right: auto;
			}
		}
 		.menu {
			 transition: 0.3s ease;
			@media only screen and(min-width: 992px) {
				padding-left: 100px;
			}
			@media only screen and(min-width: 1200px) {
				padding-left: 35px;
			}
			@media only screen and(min-width: 1440px) {
				padding-left: 60px;
			}
			@media only screen and(min-width: 1680px) {
				padding-left: 60px;
			}	
			@media only screen and(min-width: 1681px) {
				padding-left: 75px;
			}	
			@media only screen and(max-width: 991px) {
				padding: 47px 20px 30px 20px;
				border-bottom: 1px solid rgba($white-color, 0.3);
				width: 100%;
			}
			@media only screen and(max-width: 991px) {
				position: fixed;
				background: $blue-color;
				top: 0;
				left: 100%;
				right: auto;
				width: 100%;
				height: 100vh;
				z-index: 998;
				flex-direction: column;
				justify-content: center;
				align-items: center;
				padding: 150px 0 20px;
		
			}
			.nav {
				display: flex;
				align-items: center;
				@media only screen and(max-width: 991px) {
					align-items: center;
					width: 100%;
					justify-content: center;
					overflow-y: auto;
					height: calc(100% - 10px);
					border-top: 1px solid $white-color;
					padding: 15px 15px 0 15px;
					max-height: 450px;
				}
			}
			&__item {
				width: 100%;
				text-align: center;
				@media only screen and(min-width: 992px) {
					margin: 0 35px 0 0;
					width: auto;
					text-align: left;
				}
				@media only screen and(min-width: 1440px) {
					margin: 0 40px 0 0;
				}
				@media only screen and(min-width: 1680px) {
					margin: 0 50px 0 0;
				}	
				@media only screen and(min-width: 1681px) {
					margin: 0 60px 0 0;
				}	
				&:last-child {
					a {
						margin-right: 0;
						&:after {
							display: none;
						}
					}
				}
				&__current {
					.menu__link {
						&:before {
							width: 100%;
						}
					}
				}
			}		
			&__link {
				padding: 15px 0;
				position: relative;
				font-size: 1.125em;
				font-weight: bold;
				transition: 0.3s ease;
				color: $white-color;
				background: transparent;
				text-transform: uppercase;
				@media only screen and(max-width: 991px) {
					padding: 15px 20px;
					display: inline-block;
				}
				&:hover,
				&:focus {
					background: transparent;
					color: $white-color;
					&:before {
						width: 100%;
					}
				}
				&:before {
					display: block;
					position: absolute;
					content: "";
					width: 0;
					height: 4px;
					left: 0;
					z-index: 99;
					bottom: 0;
					background: $yellow-color;
					transition: 0.3s ease;
						@media only screen and(min-width: 992px) {
							bottom: -55px;
						}
						@media only screen and(min-width: 1200px) {
							bottom: -25px;
						}
						@media only screen and(min-width: 1440px) {
							bottom: -29px;
						}
						@media only screen and(min-width: 1680px) {
							bottom: -39px;
						}	
						@media only screen and(min-width: 1681px) {
							bottom: -49px;
						}	
				}
				&:after {
					display: none;
					position: absolute;
					content: "";
					width: 3px;
					height: 3px;
					border-radius: 50%;
					z-index: 99;
					top: 50%;
					background: $white-color;
					transform: translateY(-50%);
					@media only screen and(min-width: 992px) {
						right: -20px;
						display: block;
					}
					@media only screen and(min-width: 1440px) {
						right: -24px;
					}
					@media only screen and(min-width: 1680px) {
						right: -29px;
					}	
					@media only screen and(min-width: 1681px) {
						right: -32px;
					}	
				}
			}
		}
	}

	.language {
		position: relative;
		z-index: 999;
		.nice-select {
			background: transparent;
			border-radius: 0;
			color: white;
			border: 0;
			text-transform: uppercase;
			width: 85px;
			padding: 10px 35px 10px 10px;
			font-size: 1.125em;
			float: none;
			height: 100%;
			@media only screen and(min-width: 992px) {
				width: 100px;
				padding: 10px 50px 10px 10px;
			}
			.current {
				font-size: inherit;
				font-weight: bold;
			}
			.list {
				width: 100%;
				li {
					color: $blue-color;
				}
			}
			&:after {
				background: url(../img/icons/iconfinder_arrow-down-01_186411.svg) no-repeat center;
				background-size: 13px;
				margin: 0;
				top: 50%;
				transform: translateY(-50%);
				width: 13px;
				height: 13px;
				right: 15px;
				border: 0;
			}
			&.open {
				&:after {
					top: 44%;
					transform: translateY(-50%) rotate(-180deg);
				}
			}
		}
	}
	.wrap__burger {
		display: inline-block;
		margin-left: 20px;
		@media only screen and(min-width: 480px) {
			margin-left: 30px;
		}
		@media only screen and(min-width: 992px) {
			display: none;
		}
	}
	.burger {
		display: flex;
		flex-wrap: wrap;
		align-items: center;
		width: 40px;
		padding: 5px;
		position: relative;
		z-index: 9999;
		cursor: pointer;
		span {
			display: block;
			width: 100%;
			height: 2px;
			background: $white-color;
			margin: 3px auto 3px 0;
			transition: 0.3s ease;
			width: 100%;
		}
	}
	&.active {
		.burger {
			padding-top: 10px;
			span:first-child {
				transform: rotate(45deg);
			  }
			  span:nth-child(2) {
				transform: scale(0);
			  }
			  span:last-child {
				transform: rotate(-45deg);
				margin-top: -20px;
			  }
		}
	}
	.header__inner  {
		&.header__inner__page {
			.header__inner__page__title {
				color: $white-color;
				text-transform: uppercase;
				font-size: 1.125em;
				display: flex;
				flex-wrap: nowrap;
				align-items: center;
				.page__title__link {
					display: inline-flex;
					align-items: center;
					svg {
						width: 25px;
						margin-right: 15px;
						transform: rotate(180deg);
					}
				}
			}
		}
		.row {
			display: flex;
			align-items: center;
			width: 100%;
		}
		&.header__inner__page .container,
		.row {
			padding-top: 20px;
			padding-bottom: 20px;
				@media only screen and(min-width: 1200px) {
					min-height: 100px;
					padding-top: 0;
					padding-bottom: 0;
				}
				@media only screen and(min-width: 1440px) {
					min-height: 110px;
				}
				@media only screen and(min-width: 1680px) {
					min-height: 130px;
				}	
				@media only screen and(min-width: 1681px) {
					min-height: 150px;
				}	
		}
		.col-lg-5 {
			@media only screen and(max-width: 1439px) {
				display: none;
			}
		}
		&__title {
			color: white;
			font-size: 2.25em;
			position: relative;
			padding: 0 0 0 15px;
			@media only screen and(min-width: 1440px) {
				padding: 0;
			}
			
			&:before {
				display: none;
				position: absolute;
				left: 22px;
				content: "";
				width: 0; 
				height: 0; 
				border-left: 7px solid transparent;
				border-right: 7px solid transparent;
				border-bottom: 7px solid $white-color;
				@media only screen and(min-width: 1200px) {
					display: inline-block;
					bottom: -30px;
				}
				@media only screen and(min-width: 1440px) {
					bottom: -35px;
				}
				@media only screen and(min-width: 1680px) {
					bottom: -43px;
				}
				@media only screen and(min-width: 1681px) {
					bottom: -53px;
				}
			}
		}
	}

}

/*main*/
main {
	padding-bottom: 60px;
	@media only screen and(min-width: 1440px) {
		padding-bottom: 75px;
	}
	@media only screen and(min-width: 1680px) {
		padding-bottom: 95px;
	}
}

/*list-do*/
.list-do {
	margin: 0 0 22px;
	&__item {
		display: flex;
		align-items: center;
		justify-content: space-between;
		margin: 0 0 22px;
		padding: 18px 20px;
		background: $gray-light-color;
		box-shadow: inset 4px 0px 0px 0px rgba(216, 220, 229, 0.4);
			@media only screen and(min-width: 768px) {
				padding: 18px 26px;
			}
			@media only screen and(min-width: 1440px) {
				min-height: 150px;
			}
			@media only screen and(min-width: 1680px) {
				padding: 15px 35px;
			}	
			@media only screen and(min-width: 1681px) {
				padding: 15px 45px;
			}	
		&:last-child {
			margin-bottom: 0;
		}
		&__title {
			margin: 0 0 10px;
		}
		&__info {
			color: $dark-color;
		}
		&__inner {
			max-width: 80%;
		}
		img {
			width: 24px;
		}
	}
}


/*staff*/
.staff {
	&__page {
		@media only screen and(min-width: 992px) {
			display: flex;
			flex-wrap: wrap;
			justify-content: space-between;
		}
		.staff__item {
			&:last-child {
				margin-bottom: 0;
			}
			@media only screen and(min-width: 992px) {
				width: 49%;
				&:nth-last-child(2) {
					margin-bottom: 0;
				}
			}
		}
	}


	&__home {
		margin-top: 22px;
		@media only screen and(min-width: 1440px) {
			margin-top: 0;
		}
		&__title {
			display: block;
			margin: 0  0 22px;
			@media only screen and(min-width: 1440px) {
				display: none;
			}
		}
	}

	&__item {
		display: flex;
		align-items: center;
		margin-bottom: 22px;
		background: $gray-light-color;
		@media only screen and(max-width: 479px) {
			flex-direction: column;
			text-align: center;
			padding: 15px 0 0 0;
		}
		&__inner {
			padding: 16px 20px;
			max-width: 330px;
			@media only screen and(min-width: 480px) {
				padding: 12px 20px 12px 27px;
				max-width: 255px;
				max-height: 150px;
			}
		}
		&__title {
			white-space: nowrap;
			margin-bottom: 6px;
		}
		p {
			margin-bottom: 7px;
		}
		a {
			display: flex;
			align-items: center;
			color: $dark-color;
			@media only screen and(max-width: 479px) {
				justify-content: center;
			}
			&:hover,
			&:focus {
				color: $blue-color;
			}
			svg {
				fill: $blue-color;
				width: 20px;
				margin-right: 8px;
			}
		}
	}
	&__image {
		width: 135px;
		height: 150px;
		@media only screen and(min-width: 1440px) {
			height: 152px;
		}
		@media only screen and(min-width: 1680px) {
			height: 149px;
		}
	}
}

/*contact*/
.contact {
	&__title {
		&__wrap {
			display: flex;
			align-items: center;
			justify-content: space-between;
			margin: 0 0 40px;
			flex-wrap: wrap;
		}
		&__info {
			margin-top: 10px;
			width: 100%;
			max-width: 100%;
			@media only screen and(min-width: 768px) {
				text-align: right;
				margin: 0;
				max-width: 65%;
			}
			p {
				line-height: 1.8;
				a {
					color: $blue-color;
					text-decoration: underline;
					display: inline-block;
					&.contact__phone {
						text-decoration: none;
						font-size: 1.05em;
					}
				}
			}
		}
	}
	&__form {
		&__inner {
			margin-bottom: 10px;
			padding-bottom: 1px;
			@media only screen and(min-width: 1440px) {
				margin-bottom: 19px;
				padding-bottom: 1px;
			}
		
		}
	}
	&__label {
		display: block;
		margin: 0 0 30px;
		@media only screen and(min-width: 1440px) {
			margin: 0 0 35px;
		}
		input {
			display: none;
		}
		input[type="checkbox"]:checked + .contact__checkbox {
			&:after {
				left: 28px;
				background: #2d8fff;
			}
		}
	}
	&__checkbox {
		display: inline-flex;
		align-items: center;
		flex-wrap: wrap;
		position: relative;
		padding: 0 0 0 72px;
		cursor: pointer;
		font-size: 1em;
		min-height: 30px;
		a {
			display: inline-block;
			margin-left: 3px;
			color: $blue-color;
			text-decoration: underline;
		}
		&:before {
			display: block;
			position: absolute;
			content: "";
			border: 1px solid $gray-dark-color;
			background: $gray-light-color;
			border-radius: 40px;
			height: 30px;
			position: absolute;
			top: 50%;
			transform: translateY(-50%);
			left: 0;
			width: 56px;
		}
		&:after {
			display: block;
			position: absolute;
			content: "";
			background: rgb(186, 192, 204);
			border-radius: 50%;
			height: 24px;
			position: absolute;
			top: 50%;
			transform: translateY(-50%);
			left: 3px;
			width: 24px;
			transition: 0.3s ease;
		}
	}
	.services__list {
		li {
			font-size: 1em;
			margin-bottom: 14px;
			&:last-child {
				@media only screen and(min-width: 992px) {
					margin: 0;
				}
			}
		}
		a {
			color: inherit;
			padding-left: 3px;
			display: contents;
			&:hover,
			&:focus {
				text-decoration: underline;
				color: $blue-color;
			}
			&.contact__link {
				text-decoration: underline;
				color: $blue-color;
			}
		}	  
		.contact__wrap__icon {
			width: 24px;
			display: inline-block;
			margin-right: 15px;
			text-align: center;
			svg {
				fill: #2d8fff;
				max-width: 26px;
				max-height: 22px;
				width: 26px;
				path {
					fill: #2d8fff;
				}
				&#Email {
					max-height: 18px;
				}
			}
		}
	}
	&.contact-page {
		.col-xs-12:last-child {
			.services__list {
				li:last-child {
					margin-bottom: 0;
				}
			}
		}
	}
}

/*footer*/
footer {
	background: white;
	.container {
		padding-bottom: 110px;
		@media only screen and(min-width: 768px) {
			display: flex;
			justify-content: space-between;
			padding-bottom: 0;
		}
		@media only screen and(min-width: 1440px) {
			align-items: center;
		}
	}
}
.footer {
	&__logo {
		width: 100px;
		display: inline-block;
		@media only screen and(min-width: 768px) {
			margin-bottom: 35px;
		}
	}
	&__copy {
		@media only screen and(max-width: 767px) {
			position: absolute;
			bottom: 30px;
			width: calc(100% - 30px);
			left: 15px;
		}
		&__inner {
			margin: 10px 0 0;
			display: block;
			color: $blue-color;
			@media only screen and(min-width: 992px) {
				display: inline-block;
				margin: 0 0 0 10px;
			}
			a {
				color: $blue-color;
				padding: 0 2px;
				text-decoration: underline;
			}
		}
	}
	&__inner {
		padding: 25px 20px;
		text-align: center;
		@media only screen and(min-width: 768px) {
			padding: 25px 20px 25px 0;
			text-align: left;
		}
	}
	&__contact {
		background-color: $blue-color;
		background-image: url(../img/footer.png);
		background-repeat: no-repeat;
		background-position: center;
		background-size: auto 100%;
		display: flex;
		align-items: center;
		justify-content: center;
		width: calc(100% + 30px);
		margin-left: -15px;
		padding: 25px 20px;
		@media only screen and(min-width: 768px) {
			width: 55%;
			margin-left: 0;
		}
		@media only screen and(min-width: 992px) {
			width: calc(41.667% - 15px);
		}
		@media only screen and(min-width: 1440px) {
			height: 230px;
		}
		@media only screen and(min-width: 1680px) {
			height: 270px;
		}
		&__list {
			padding: 0;
			margin: 0;
			list-style-type: none;
			
			@media only screen and(min-width: 768px) {
				min-width: 300px;
			}
			li {
				display: flex;
				align-items: center;
				margin: 12px 0;
				color: $white-color;
				a {
					color: inherit;
					display: inline-block;
					padding-left: 5px;
				}
				&:last-child {
					svg {
						max-width: 18px;
					}
				}
			}
		}
		&__wrap__icon {
			width: 22px;
			margin-right: 15px;
			display: flex;
			align-items: center;
			justify-content: center;
			svg {
				fill: $white-color;
				max-width: 27px;
				max-height: 22px;
				width: 27px;
				path {
					fill: $white-color;
				}
			}
		}
	}
}

/*services*/

body .page {
	&__title {
		
		@media only screen and(min-width: 992px) {
			max-width: 70%;
		}
	}
	&__title,
	&__subtitle {
		margin: 0 0 30px;
		@media only screen and(min-width: 1200px) {
			margin: 0 0 35px;
		}
	}
	&__inner {
		&__in {
			display: flex;
			justify-content: space-between;
			flex-wrap: wrap;
			@media only screen and(min-width: 992px) {
				flex-wrap: nowrap;
			}
		}
		&__info {
			@media only screen and(min-width: 992px) {
				width: calc(100% - 315px);
			}
			@media only screen and(min-width: 1680px) {
				width: calc(100% - 340px);
			}
		}
		&__subinfo {
			width: 100%;
			max-width: 295px;
			margin: 25px auto 0;
			@media only screen and(min-width: 992px) {
				width: 280px;
				margin: 0;
			}
			@media only screen and(min-width: 1680px) {
				width: 295px;
			}
		}
	}
	&__info {
		p {
			margin: 0 0 15px;
			a {
				color: $blue-color;
				font-weight: bold;
				text-decoration: underline;
			}
		}
		margin-bottom: 30px;
		@media only screen and(min-width: 992px) {
			margin-bottom: 45px;
		}
	}
}

.services {
	&__menu {
		list-style-type: none;
		margin: 0;
		padding: 0;
		display: flex;
		align-items: center;
		flex-wrap: wrap;
		&__item {
			margin-right: 26px;
			position: relative;
			@media only screen and(min-width: 1440px) {
				margin-right: 22px;
			}
			@media only screen and(min-width: 1680px) {
				margin-right: 34px;
			}	
			@media only screen and(min-width: 1681px) {
				margin-right: 44px;
			}
			@media only screen and(max-width: 767px) {
				padding-left: 10px;
			}	
			@media only screen and(max-width: 480px) {
				margin: 0;
				width: 100%;
			}	
			&:last-child {
				margin: 0;
				&:after {
					display: none;
				}
			}
			&__current {
				.services__menu__link {
				opacity: 1;
					&:before {
						width: 45px;
					}
				}
				
			}
			&:after {
				display: block;
				position: absolute;
				content: "";
				width: 3px;
				height: 3px;
				border-radius: 50%;
				z-index: 99;
				top: 50%;
				right: -16px;
				background: $white-color;
				transform: translateY(-50%);
				@media only screen and(min-width: 1440px) {
					right: -14px;
				}
				@media only screen and(min-width: 1680px) {
					right: -21px;
				}	
				@media only screen and(min-width: 1681px) {
					right: -25px;
				}	
				@media only screen and(max-width: 480px) {
					display: none;
				}	
			}
		}
		&__link {
			font-size: 1.125em;
			color: $white-color;
			display: inline-block;
			position: relative;
			padding: 10px 0;
			opacity: 0.7;
			@media only screen and(min-width: 1200px) {
				padding: 13px 0;
			}
			&:before {
				display: block;
				position: absolute;
				content: "";
				width: 0;
				height: 3px;
				left: 0;
				z-index: 99;
				bottom: 0;
				background: $white-color;
				transition: 0.3s ease;
			}
			&:hover,
			&:focus {
				opacity: 1;
				color: $white-color;
				&:before {
					width: 45px;
				}
			}
		}
	}
	&__list {
		padding: 0;
		list-style-type: none;
		margin: 0 0 30px;
		@media only screen and(min-width: 1200px) {
			margin: 0 0 35px;
		}
		&:last-child {
			margin: 0;
		}
		li {
			margin-bottom: 8px;
			display: flex;
			align-items: center;
			background: $gray-light-color;
			font-size: 1.125em;
			position: relative;
			padding: 16px 20px 16px 25px;
			min-height: 65px;
			@media only screen and(min-width: 992px) {
				padding: 16px 30px;
			}
			@media only screen and(min-width: 1680px) {
				padding: 16px 35px;
				min-height: 75px;
			}
			&:before {
				display: block;
				content: "";
				position: absolute;
				left: 0;
				top: 0;
				height: 100%;
				width: 4px;
				background: #d8dce5;
			}
			&:after {
				display: block;
				content: "";
				position: absolute;
				left: 4px;
				top: 50%;
				transform: translateY(-50%);
				width: 0; 
				height: 0; 
				border-top: 7px solid transparent;
				border-bottom: 7px solid transparent;
				border-left: 7px solid #d8dce5;
			}
		}
	}
}

/*carousel*/

.owl-item {
    display: inline-block!important;
}
.owl-loaded.owl-drag {
    overflow: hidden;
}

.owl-prev ,
.owl-next {
    font-size: 0;
	width: 50px;
	height: 60px;
	cursor: pointer; 
	position: absolute;
	background-color: white;
	transition: 0.3s ease;
	bottom: 0;
	background-image: url(../img/icons/iconfinder_arrow-left-01_186410.svg);
	background-position: center;
	background-repeat: no-repeat;
	background-size: 9px;
	border: 2px solid transparent;
	&:hover {
		border: 2px solid $gray-color;
	}
}
.owl-prev {
    right: 50px;
}
.owl-next  {
	right: 0;
	transform: rotate(180deg);
}
.carousel {
	margin-bottom: 7px;
	@media only screen and(max-width: 991px) {
		max-width: 295px;
		margin: 0 auto 7px;
	}
	.owl-stage {
		height: 460px;
		@media only screen and(min-width: 1680px) {
			height: 490px;
		}
	}
	&__item {
		height: 460px;
		width: 100%;
		@media only screen and(min-width: 1680px) {
			height: 490px;
		}
	}
}

/*price*/
.price {
	background: url(../img/price.png) no-repeat center/cover;
	padding: 14px;
	&__inner {
		background: $white-color;
		padding: 33px 20px;
		@media only screen and(max-width: 991px) {
			text-align: center;
			padding: 33px;
		}
		&__title {
			margin: 0 0 5px;
		}
		&__info {
			font-size: 0.875em;
			display: inline-block;
			vertical-align: bottom;
			margin-bottom: 9px;
		}
	}
	&__num {
		color: $blue-color;
		display: inline-block;
		font-size: 2.25em;
		font-weight: bold;
	}
}


/*map*/
#map {
	height: 335px;
	margin-bottom: 30px;
	@media only screen and(min-width: 1440px) {
		margin-bottom: 35px;
	}
	@media only screen and(min-width: 1680px) {
		margin-bottom: 40px;
	}
}

/*news*/
body .news {
	margin: 40px 0 20px;
	@media only screen and(min-width: 1440px) {
		margin: 60px 0 30px;
	}
	@media only screen and(min-width: 1680px) {
		margin: 80px 0 40px;
	}
	.row {
		margin-left: -15px;
		margin-right: -15px;
		display: flex;
		flex-wrap: wrap;
		.col-xs-12 {
			padding-left: 15px;
			padding-right: 15px;
			display: flex;
			flex-wrap: wrap;
		}
	}
	&__item {
		margin: 0 0 20px;
		padding: 25px 15px 30px;
		&:hover,
		&:focus {
			box-shadow: 2px 2px 8px 2px rgba(204,204,204,0.64);
		}
		@media only screen and(min-width: 992px) {
			padding: 30px 25px;
			margin: 0 0 25px;
		}
		@media only screen and(min-width: 1440px) {
			padding: 35px 28px;
		}
		@media only screen and(min-width: 1680px) {
			margin: 0 0 30px;
			padding: 43px 38px;
		}
		&__image {
			position: relative;
			height: 225px;
			margin-bottom: 24px;
		}
		&__title {
			font-size: 1.5em;
			margin: 0 0 15px;
			@media only screen and(min-width: 1680px) {
				font-size: 1.6875em;
			}
		}
		&__content {
			font-size: 0.9375em;
			line-height: 1.8;
			text-overflow: ellipsis;
			display: -webkit-box;
			-webkit-box-orient: vertical;
			-webkit-line-clamp: 4;
			color: $dark-color;
			overflow: hidden;
		}
		&__date {
			background: $white-color;
			position: absolute;
			left: 0;
			bottom: 0;
			min-width: 125px;
			padding: 18px 10px 0 0 ;
			text-transform: uppercase;
			color: $dark-color;
			font-size: 0.875em;
		}
	}
	&__wrap {
		text-align: center;
		margin: 0 0 45px;
		@media only screen and(min-width: 1440px) {
			margin: 0 0 55px;
		}
		@media only screen and(min-width: 1680px) {
			margin: 0 0 75px;
		}
		.btn__more {
			color: rgb(126, 134, 151);
			text-transform: uppercase;
			display: inline-block;
			padding: 18px 20px;
			border: 0;
			font-weight: bold;
			text-align: center;
			font-size: 1em;
			background: $white-color;
			transition: 0.3s all ease;
			@media only screen and(min-width: 768px) {
				padding: 18px 26px;
			}
			@media only screen and(min-width: 1440px) {
				padding: 20px 34px;
			}
			@media only screen and(min-width: 1680px) {
				padding: 22px 40px;
			}	
			&:hover,
			&:focus,
			&:active {
				color: $white-color;
				background: $blue-color;
			}
		}
	}	
}
/*news__inner__page*/
.news__inner__page {
	padding: 35px 20px 30px;
	margin-bottom: 40px;
	@media only screen and(min-width: 992px) {
		padding: 40px 35px 35px;
		margin-bottom: 50px;
	}
	@media only screen and(min-width: 1440px) {
		padding: 60px 75px 55px;
		margin-bottom: 50px;
	}
	@media only screen and(min-width: 1680px) {
		padding: 82px 100px 75px;
		margin-bottom: 65px;
	}
	.news__item__image {
		height: 280px;
		margin-bottom: 35px;
		@media only screen and(min-width: 768px) {
			height: 320px;
		}
		@media only screen and(min-width: 992px) {  
			height: 370px;
		}
		@media only screen and(min-width: 1440px) {
			height: 420px;
			margin-bottom: 45px;
		}
		@media only screen and(min-width: 1680px) {
			height: 450px;
			margin-bottom: 55px;
		}
	}
	&__title {
		font-size: 1.75em;
		margin-bottom: 25px;
		@media only screen and(min-width: 1440px) {
			margin-bottom: 35px;
			font-size: 2.1em;
		}
		@media only screen and(min-width: 1680px) {
			margin-bottom: 45px;
			font-size: 2.25em;
		}
	}
	&__in {
		margin-bottom: 25px;
		@media only screen and(min-width: 1440px) {
			margin-bottom: 35px;
		}
		@media only screen and(min-width: 1680px) {
			margin-bottom: 45px;
		}	
		&:last-child,
		p:last-child {
			margin-bottom: 0;
		}
		p {
			font-size: 1em;
			margin: 0 0 18px;
			line-height: 1.8;
			text-align: justify;
			@media only screen and(min-width: 1440px) {
				margin: 0 0 22px;
			}
			@media only screen and(min-width: 1680px) {
				margin: 0 0 25px;
			}	
		}
	}
}


